---
http_interactions:
- request:
    method: get
    uri: https://eodhd.com/api/intraday/AAPL.US?api_token=<API_TOKEN>&fmt=json&interval=5m
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1400'
      X-Ratelimit-Remaining:
      - '1398'
    body:
      encoding: ASCII-8BIT
      string: '[{"timestamp":1749475800,"gmtoffset":0,"datetime":"2025-06-09 13:30:00","open":204.389999,"high":205.074996,"low":203.979995,"close":204.839996,"volume":3140160},{"timestamp":1749476100,"gmtoffset":0,"datetime":"2025-06-09
        13:35:00","open":204.839996,"high":205.550003,"low":204.630004,"close":205.369995,"volume":856117},{"timestamp":1749476400,"gmtoffset":0,"datetime":"2025-06-09
        13:40:00","open":205.339996,"high":205.404998,"low":204.600006,"close":204.839996,"volume":855028},{"timestamp":1749476700,"gmtoffset":0,"datetime":"2025-06-09
        13:45:00","open":204.845001,"high":204.889999,"low":204.520004,"close":204.574996,"vol[...]
