---
http_interactions:
- request:
    method: get
    uri: https://eodhd.com/api/exchange-symbol-list/AU?api_token=<API_TOKEN>&fmt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"Code":"14D","Name":"1414 Degrees Ltd","Country":"Australia","Exchange":"AU","Currency":"AUD","Type":"Common
        Stock","Isin":"AU0000010696"},{"Code":"1AD","Name":"AdAlta Ltd","Country":"Australia","Exchange":"AU","Currency":"AUD","Type":"Common
        Stock","Isin":"AU0000001AD2"},{"Code":"1AE","Name":"Aurora Energy Metals Ltd","Country":"Australia","Exchange":"AU","Currency":"AUD","Type":"Common
        Stock","Isin":"AU0000216889"},{"Code":"1AG","Name":"Alterra Ltd","Country":"Australia","Exchange":"AU","Currency":"AUD","Type":"Common
        Stock","Isin":"AU0000001AG5"},{"Code":"1AI","Name":"Algorae Pharmaceutica[...]
