---
http_interactions:
- request:
    method: get
    uri: https://eodhd.com/api/eod-bulk-last-day/AU?api_token=<API_TOKEN>&date=2024-09-30&fmt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1400'
      X-Ratelimit-Remaining:
      - '1399'
    body:
      encoding: ASCII-8BIT
      string: '[{"code":"0P00007962","exchange_short_name":"AU","date":"2024-09-30","open":3.4503,"high":3.4503,"low":3.4503,"close":3.4503,"adjusted_close":3.4503,"volume":0},{"code":"0P000079J8","exchange_short_name":"AU","date":"2024-09-30","open":1.1316,"high":1.1316,"low":1.1316,"close":1.1316,"adjusted_close":1.1316,"volume":0},{"code":"0P00007DT1","exchange_short_name":"AU","date":"2024-09-30","open":0.9269,"high":0.9269,"low":0.9269,"close":0.9269,"adjusted_close":0.9269,"volume":0},{"code":"0P00007DYX","exchange_short_name":"AU","date":"2024-09-30","open":1.0199,"high":1.0199,"low":1.0199,"close":1.0199,"adjusted_close":1.0199,"volume":0},{"code":"0P00007E[...]
