---
http_interactions:
- request:
    method: get
    uri: https://eodhd.com/api/exchange-symbol-list/AU?api_token=<API_TOKEN>&fmt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1400'
      X-Ratelimit-Remaining:
      - '1399'
    body:
      encoding: ASCII-8BIT
      string: '[{"Code":"0P00007962","Name":"Vanguard International Shares Index Fund","Country":"Australia","Exchange":"AU","Currency":"AUD","Type":"FUND","Isin":null},{"Code":"0P000079J8","Name":"Vanguard
        Australian Property Securities Index Fund","Country":"Australia","Exchange":"AU","Currency":"AUD","Type":"FUND","Isin":null},{"Code":"0P00007DT1","Name":"Pimco
        Global Bond Fund Wholesale Class","Country":"Australia","Exchange":"AU","Currency":"AUD","Type":"FUND","Isin":null},{"Code":"0P00007DYX","Name":"Bentham
        Global Income Fund","Country":"Australia","Exchange":"AU","Currency":"AUD","Type":"FUND","Isin":null},{"Code":"0P00007E[...]
