---
http_interactions:
- request:
    method: get
    uri: https://eodhd.com/api/eod/BHP.AU?api_token=<API_TOKEN>&fmt=json&period=d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1400'
      X-Ratelimit-Remaining:
      - '1397'
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"1993-04-01","open":11.4834,"high":11.4834,"low":11.4834,"close":11.4834,"adjusted_close":1.3897,"volume":4858688},{"date":"1993-04-02","open":11.5301,"high":11.5301,"low":11.5301,"close":11.5301,"adjusted_close":1.3953,"volume":2726405},{"date":"1993-04-05","open":11.4834,"high":11.4834,"low":11.4834,"close":11.4834,"adjusted_close":1.3897,"volume":3002160},{"date":"1993-04-07","open":11.3744,"high":11.3744,"low":11.3744,"close":11.3744,"adjusted_close":1.3765,"volume":3519964},{"date":"1993-04-13","open":11.6234,"high":11.6234,"low":11.6234,"close":11.6234,"adjusted_close":1.4066,"volume":3611462}[...]
